<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>About us</title>
</head>
<body>
<%- include('partials/header.ejs') %>  
  <!-- Home pic section -->
  <section id="promo2">
    <div class="d-flex justify-content-center align-items-center h-100 text-center pt-8">
      <div class="text-white">
        <h1 class="mb-3 display-5 fw-bold link-light">About Us</h1>
        <div class="col-lg-5 mx-auto">
          <p class="lead mb-3 text-light">JnK Bar is the perfect place to unwind, let loose, and bond with friends. With our commitment to providing the best drinks, we guarantee you’ll have an unforgettable time.
          </p>
        </div>
      </div> 
    </div>
  </section>

<%- include("partials/footer.ejs") %>
</body>
</html>


