<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css">
  <title>Home</title>
  
</head>
<body>
  
  <%- include("partials/header.ejs") %>
  <!-- Home pic section -->
  <section id="promo">
    <div class="d-flex justify-content-center align-items-center h-100 text-center pt-8">
      <div class="text-white">
        <h1 class="mb-3 display-5 fw-bold link-light">JnK Bar: Where Cocktails Meet Adventure</h1>
        <div class="col-lg-8 mx-auto">
          <p class="lead mb-3 text-light">Indulge in our wide range of pre-made cocktails and discover a world of exciting flavors and experiences.</p>
        </div>
      </div> 
    </div>
  </section>

 <!-- first section -->
 <div class="container pt-9 pb-8">
  <div class="d-md-flex">
    <div class="pe-6">
      
        <h2 class="pb-5">The Ultimate Cocktail Adventure</h2>
        <img class="im-width" src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/good-vibes_fzyTE61O.webp">
        <h2 class="py-3">Ultimate Cocktail Adventure</h2>
        <p class="lead">JnK Bar offers a thrilling cocktail adventure with an extensive range of pre-made cocktails that cater to every taste. From classic cocktails to signature creations, our bartenders have crafted a menu that is sure to delight. Each cocktail is made with premium ingredients and a focus on quality, ensuring that every sip is a memorable experience. Whether you’re looking for a classic martini or a bold new flavor, JnK Bar is the ultimate destination for cocktail enthusiasts.</p>
      

    </div>
    <div class="ps-6">
      
        <img class="im-width" src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/cozy-place_fzyTE61O.webp">
        <h2 class="py-3">Unforgettable Memories</h2>
        <p class="lead">JnK Bar is more than just a place to have a drink. It’s a lively and vibrant space where you can create unforgettable memories with your friends. Whether you’re celebrating a special occasion or just enjoying a night out, our friendly and attentive staff is dedicated to ensuring that you have a great time. From the exciting atmosphere to the delicious cocktails, every element of JnK Bar is designed to make your experience unforgettable.</p>
      
      <div class="my-3 pt-8">
        <img class="im-width" src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/relax-atmosphere_fzyTE61O.webp">
        <h2 class="py-3">Easy Purchase</h2>
        <p class="lead">At JnK Bar, we understand that ease of purchase is important for a great experience. That’s why we offer a fast and simple ordering process. Our website is user-friendly, allowing you to browse through our menu and place your order with just a few clicks. You can also read helpful reviews from other users to help you make your selection. When you arrive, your cocktails will be ready and waiting for you, allowing you to spend more time enjoying your night out.</p>
      </div>
      
    </div>
  </div>
 </div>

 <!-- menu section -->
 <div class="container pt-9 pb-8">
  <h1 class="text-center pb-4"> OUR MENU</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/people-having-drink-at-daytime-1_fzyTE61O.webp">
        <div class="card-body">
          <p class="card-text pb-4">Margarita</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
            </div>
            <small class="text-body-secondary">qty</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/having-lunch-together_fzyTE61O.webp">
        <div class="card-body">
          <p class="card-text pb-4">Gin Basil</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
            </div>
            <small class="text-body-secondary">qty</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/fine-dining-food-1_fzyTE61O.webp">
        <div class="card-body">
          <p class="card-text pb-4">Whiskey Sour</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
            </div>
            <small class="text-body-secondary">qty</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center pt-5">
    <a href="/menu" class="btn border-dark rounded-0 py-2">VIEW ALL MENU</a>
  </div>
  
</div>

  

<%- include("partials/footer.ejs") %>

</body>
</html>