<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Menu</title>
</head>
<body>
<%- include('partials/header.ejs') %>  
  <!-- Home pic section -->
  <section id="promo3">
    <div class="d-flex justify-content-center align-items-center h-100 text-center pt-8">
      <div class="text-white">
        <h1 class="mb-3 display-5 fw-bold link-light">Our Menu</h1>
        <div class="col-lg-5 mx-auto">
          <p class="lead mb-3 text-light">JnK Bar is the perfect place to unwind, let loose, and bond with friends. With our commitment to providing the best drinks, we guarantee you’ll have an unforgettable time.
          </p>
        </div>
      </div> 
    </div>
  </section>
  <!-- MENU SECTION-->
  <div class="container pt-9 pb-8">
    <h1 class="text-center pb-4"> OUR MENU</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/oldImages/large/1198_1_1436865046.jpg?tr=w-800,h-1066" class="drink-card-image">
          <div class="card-body">
            <p class="card-text pb-4">Margarita</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://data.thefeedfeed.com/static/2020/07/08/15942377695f0623492582e.jpg" class="drink-card-image">
          <div class="card-body">
            <p class="card-text pb-4">Gin Basil</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://www.acouplecooks.com/wp-content/uploads/2019/09/Whiskey-Sour-111s.jpg" class="drink-card-image">
          <div class="card-body">
            <p class="card-text pb-4">Whiskey Sour</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://www.supergoldenbakes.com/wordpress/wp-content/uploads/2019/07/Long_island_iced_tea-1-4s.jpg" class="drink-card-image">
          <div class="card-body">
            <p class="card-text pb-4">Long Island</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-4">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://cdn.diffords.com/contrib/stock-images/2018/5/20/2018ffe7ab4ebbc48d2f34715c870cce5a10.jpg" class="drink-card-image">
            <div class="card-body">
              <p class="card-text pb-4">Moscow Mule</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://recipetineats.com/wp-content/uploads/2019/10/Cosmopolitan-cocktail_0.jpg">
            <div class="card-body">
              <p class="card-text pb-4">Cosmopolitain</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCYUILBACfeHJid6GSjCc44TftGVV_fWFSvw&usqp=CAU" class="drink-card-image">
            <div class="card-body">
              <p class="card-text pb-4">Adios MF</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYLxtw9VtvihJtoZpQRE-LtXY_VYTOo4wBwA&usqp=CAU" class="drink-card-image">
            <div class="card-body">
              <p class="card-text pb-4">New York Sour</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>

    </div>
<%- include("partials/footer.ejs") %>
</body>
</html>
