<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <title>Menu</title>
</head>
<body>
<%- include('partials/header.ejs') %>  
  <!-- Home pic section -->
  <section id="promo3">
    <div class="d-flex justify-content-center align-items-center h-100 text-center pt-8">
      <div class="text-white">
        <h1 class="mb-3 display-5 fw-bold link-light">Our Menu</h1>
        <div class="col-lg-5 mx-auto">
          <p class="lead mb-3 text-light">JnK Bar is the perfect place to unwind, let loose, and bond with friends. With our commitment to providing the best drinks, we guarantee you’ll have an unforgettable time.
          </p>
        </div>
      </div> 
    </div>
  </section>
  <!-- MENU SECTION-->
  <div class="container pt-9 pb-8">
    <h1 class="text-center pb-4"> OUR MENU</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/people-having-drink-at-daytime-1_fzyTE61O.webp">
          <div class="card-body">
            <p class="card-text pb-4">Margarita</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/having-lunch-together_fzyTE61O.webp">
          <div class="card-body">
            <p class="card-text pb-4">Gin Basil</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/fine-dining-food-1_fzyTE61O.webp">
          <div class="card-body">
            <p class="card-text pb-4">Whiskey Sour</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/fine-dining-food-1_fzyTE61O.webp">
          <div class="card-body">
            <p class="card-text pb-4">Whiskey Sour</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
              </div>
              <small class="text-body-secondary">qty</small>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 pt-4">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/people-having-drink-at-daytime-1_fzyTE61O.webp">
            <div class="card-body">
              <p class="card-text pb-4">Margarita</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/having-lunch-together_fzyTE61O.webp">
            <div class="card-body">
              <p class="card-text pb-4">Gin Basil</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/fine-dining-food-1_fzyTE61O.webp">
            <div class="card-body">
              <p class="card-text pb-4">Whiskey Sour</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://10web-site.ai/22/wp-content/uploads/sites/24/2023/08/fine-dining-food-1_fzyTE61O.webp">
            <div class="card-body">
              <p class="card-text pb-4">Whiskey Sour</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Purchase</button>
                </div>
                <small class="text-body-secondary">qty</small>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>

    </div>
<%- include("partials/footer.ejs") %>
</body>
</html>
